
.avatar {
  object-fit: cover;
  border-radius:50%;
  border: 2px solid #444;
}

.avatar-xs {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  font-size:1rem;
  font-weight: 500;
}

.avatar-sm {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  font-size:2rem;
  font-weight: 500;
}

.avatar-md {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  font-size: 3rem;
  font-weight: 500;
}

.avatar-lg {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  font-size: 6rem;
  font-weight: sbold;
}

.avatar-initials {
  background-color: #3490dc;
  color: #eee;
}