footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
  margin-top: 2rem;
}
.footer-container {
  padding: 1.5rem;
  img {
    max-width: 90%;
  }
  h3 span {
    font-size: 1rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 1rem;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    color: #777;
  }
  .subscribe-success {
    display: none;
  }
}