.forum-sidebar {
    padding: 1rem;
    background-color: #ddd;
    border-radius: 4px;
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            a {
                display: block;
                width: 100%;
                color: $font-base-color;
                padding: 0.25rem 1rem;
                margin-bottom: 0.25rem;
                &:hover {
                    background-color: lighten(#ddd, 10);
                    text-decoration: none;
                }
                &.active {
                    background-color: lighten(#ddd, 10);
                    font-weight: 600;
                }
            }
        }
    }
}

.forum-thread-link {
    color: $font-base-color;
    &:hover {
        background-color: #eee;
        transition: 0.3s;
    }
}
.forum-breadcrumbs {
    font-size: 1.25rem;
    a {
        color: $font-base-color;
    }
}

.thread-body,
.reply-body {
    img {
        max-width: 100%;
    }
}

.forum-excerpt {
    color: lighten($font-base-color, 50) !important;
}

.trumbowyg-editor {
    background-color: #fff;
}

.card-announcement {
    border: 2px solid #007bff!important;
    h5 {
        color: #007bff!important;
    }
}

.vote-footer {

  div {
      margin-bottom: 1rem;
  }
    @media (min-width: 990px) {
        display: flex;
        justify-content: space-between;
        div {
          margin-bottom: 0;
        }
    }
}
.btn.remove {
    background-color: red !important;
}

.like-button {
    font-size: 2rem;
    transition: 0.4s;
    outline: none;
    background-color: transparent;
    &:active, &:hover, &:focus {
        border: none;
        outline: none;
    }
}
.nolike {
    color: #aaa;
}

.like {
    color:#3490dc;
}

.thread-title {
    @media(max-width: 769px) {
        font-size: 1.5rem;
    }
}

.page-link {
    font-size: 0.85rem;
}