body {
  width: 100%;
  margin: 0;
  background-color: $body-background-color;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  position: relative;
}

.fullscreen {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  .cover-with-video {
    display: block;
    @media(min-width: 768px) {
      display: none;
    }
  }
  video {
    display: none;
    object-fit: cover;
    @media(min-width: 768px) {
      display: block;
    }
  }
}

.cover-with-video, .cover {
  max-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

#app {
  min-height: 100%;
}

.card {
  color: #222;
}

.slide-mask {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,.2)50%,rgba(0,0,0,.2)51%,rgba(0,0,0,.6)100%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide-content {
  position: absolute;
  bottom: 145px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index:1000;
}

h1.slide-content-title {
  font-size: 3.6em;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.1em;
  text-shadow: 0 0 3px rgba(0,0,0,.27);
  color: #fff;
}

.slides-control-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 9999;
  background-image: url('../../public/img/down-arrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 2.5em;
  overflow: hidden;
  margin-top: 0;
  margin-left: -1.25em;
  text-indent: -9999em;
  width: 2.5em;
  transition: 0.3s;
  &:hover {
    bottom: 35px;
  }
}

@media(max-width: 990px ){
  .background-images {
    min-width: 100%;
    padding-bottom: 52.5%;
    margin-bottom: 2rem;
  }
}

hr { 
  display: block; 
  height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1rem 0; 
  padding: 0; 
}

.btn-front {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }
}

.trumbowyg-modal-box label input  {
  border: 1px solid #888;
}

.btn-success {
  font-weight: 600;
  background-color: #168043;
  border-color: #168043;
}