.navbar.navbar-transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}

nav img {
  max-height: 50px;
}

nav.bg-dark {
  background: rgba(0,0,0,0.9) !important;
  @media(min-width: 1200px) {
    background: linear-gradient(0deg, rgba(37, 35, 35, .20) 0%, rgba(0,0,0,1) 100%) !important;
  }
}

.navbar-nav > li{
  margin-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}

.nav-link.btn {
  padding: 0.25rem 0.5rem;
}

.navbar-nav {
  align-items: flex-end;
}

@media(min-width: 768px) {
  .navbar-nav {
    align-items: center;
  }
}

.active {
  font-style: italic;
}