#pricing {
    .card .list-group-flush {
        margin-bottom: 30%;
    }

    .card .card-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .card .card-title {
        text-align: center;
        margin-top:0.75rem;
        font-weight: 700;
    }

    .card-h1 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .card {
        border: 1px solid #222 !important;
        border-radius: 0.25rem !important;
        transition: all .2s ease-in-out;
        color: #222;
    }

    .card {
        height: 100%;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .bg-free {
        background-color: #64d3d6;
    }

    .bg-standard {
        background-color: #3cb371;
    }

    .bg-pro {
        background-color: #d4af37;
    }
    h2 span {
        font-size: 1rem;
    }
}