
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-img-top-v {
  width: 100%;
  object-fit: cover;
}

.product-cards {
  margin: 1rem auto;
  justify-content: center;
  @media(min-width: 990px) {
    justify-content: flex-start;
  }
    .card {
      min-width: 28rem;
      max-width: 28rem;
      margin-bottom: 1.5rem;
    }
}
