
blockquote{
  font-size: 1.2em;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 1.5rem 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  margin: 1rem;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  font-size: 1rem;
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: 600;
  margin-top:1em;
  font-style: italic;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  @media(min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
}