body {
  color: $font-base-color;
  font-size: 1.125rem;
  font-family: $base-font-family;
  font-weight: 400;
}

h1, .h1,
h2, .h2, 
h3, .h3,
h4, .h4 {
  font-family: $header-font-family;
  font-weight: 600;
}