// Body
// $body-bg: #000;
$body-bg: #fff;

// Typography
$base-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $font-base-color: #fff;
$font-base-color: #222;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$body-background-color: #edf2f7;

// Container widths
$container-max-widths: (
  md: 45rem,
  lg: 60rem,
  xl: 100rem
) !default;
