.timer-container {
  text-align: center;
  padding: 0 30px 0;
  font-size: 2.5rem;
  font-weight: bold;
  p {
    margin-bottom: 0;
    &.timer-text {
      font-size: 1.25rem;
      font-weight: normal;
      margin-top: -15px;

    }
  }
}