// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Files
@import 'typography';
@import 'navbar';
@import 'general';
@import 'footer';
@import 'avatar';
@import 'pricing-tables';
@import 'shop';
@import 'forums';
@import 'plans';
@import 'testimonials';
@import 'video-timer';
@import 'video-comment';


.pay-type {
  cursor:pointer;
  color: $primary;
}

.pay-container {
  display: none;
}