<template>
    <img :src="body.thumbnail_url" :alt="body.title" class="card-img-top-v"/>
</template>

<script>
export default {
  props: ["url"],
  async created() {
    await this.fetchThumbnail(this.url);
  },
  data() {
    return {
      body: ''
    };
  },
  methods: {
    fetchThumbnail(url) {
      if (url === "") return;
      const urlEncoded =
        "https://vimeo.com/api/oembed.json?url=" + encodeURIComponent(url);
      var instance = axios.create();
      delete instance.defaults.headers.common["X-CSRF-TOKEN"];

      instance(urlEncoded, {
        method: "GET",
        cache: "no-cache",
        mode: "cors",
        headers: {
          "Content-Type": "application/json"
        }
      }).then(response => {
        this.body = response.data
        console.log(this.body)
      });
    }
  }
};
</script>
